# Host/IP di mana aplikasi berjalan (ganti ke IP server jika deploy ke VPS)
#misalnya --> APP_HOST=10.122.123.1
APP_HOST=localhost

# Opsional override interpreter OCR.
# Kosongkan untuk memakai default container: /opt/venv/bin/python
# OCR_PYTHON=/opt/venv/bin/python